.btn {
    justify-self: flex-end;
}

.Toolbar {
    flex-direction: row;
    width: 100%;
}

.light-color {
    color: rgb(97, 97, 97);
}

.submit-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    background-color: grey;
    text-align: center;
    z-index: 50;
    border-radius: 5px;
}